In [2]:
#Numpy

In [3]:
import numpy as np

In [4]:
a = np.array([[65,20,30,40],[30,40,21,12],[1,2,45,76]])
a

array([[65, 20, 30, 40],
       [30, 40, 21, 12],
       [ 1,  2, 45, 76]])

In [7]:
np.amin(a)

1

In [8]:
np.amax(a)

76

In [9]:
np.amin(a,axis =0)

array([ 1,  2, 21, 12])

In [11]:
print(np.mean(a))

31.833333333333332

In [13]:
print(np.mean(a,axis =0))

[32.         20.66666667 32.         42.66666667]

In [14]:
print(np.median(a,axis =1))

[35.  25.5 23.5]

In [16]:
print(np.median(a))

30.0

In [17]:
#pandas

In [18]:
import pandas as pd

In [20]:
student_details={'sid':[1,2,3,4,5],
                  'sname':['A','B','C','D','E'],
                'region':['N','S','E','E','W']}

student_marks ={'sid':[1,2,3,4,6],
                'sub':['Py','R','Py','Tab','Py'],
                'marks':[43,23,44,22,32]
               }

In [21]:
student_details

{'sid': [1, 2, 3, 4, 5],
 'sname': ['A', 'B', 'C', 'D', 'E'],
 'region': ['N', 'S', 'E', 'E', 'W']}

In [22]:
student_marks

{'sid': [1, 2, 3, 4, 6],
 'sub': ['Py', 'R', 'Py', 'Tab', 'Py'],
 'marks': [43, 23, 44, 22, 32]}

In [26]:
df1=pd.DataFrame(student_details)
df1

   sid sname region
0    1     A      N
1    2     B      S
2    3     C      E
3    4     D      E
4    5     E      W

In [25]:
df2=pd.DataFrame(student_marks)
df2

   sid  sub  marks
0    1   Py     43
1    2    R     23
2    3   Py     44
3    4  Tab     22
4    6   Py     32

In [39]:
#Join two tables
#Inner join -- common records (1,2,3,4) from above df1 and df2,remaining records left.
pd.merge(df1,df2,on='sid')

   sid sname region  sub  marks
0    1     A      N   Py     43
1    2     B      S    R     23
2    3     C      E   Py     44
3    4     D      E  Tab     22

In [38]:
#Left outer join --all the records form the left table(df1:1,2,3,4,5) matched with right table df2(1,2,3,4)
pd.merge(df1,df2,on ='sid',how='left')

   sid sname region  sub  marks
0    1     A      N   Py   43.0
1    2     B      S    R   23.0
2    3     C      E   Py   44.0
3    4     D      E  Tab   22.0
4    5     E      W  NaN    NaN

In [40]:
#Right outer join--all the records form the right table(df1:1,2,3,4,6) matched with left table df1(1,2,3,4)
pd.merge(df1,df2,on='sid',how ='right')

   sid sname region  sub  marks
0    1     A      N   Py     43
1    2     B      S    R     23
2    3     C      E   Py     44
3    4     D      E  Tab     22
4    6   NaN    NaN   Py     32

In [42]:
#Full outer join--all the records from both table can participate df1,df2
pd.merge(df1,df2,on='sid',how='outer')

   sid sname region  sub  marks
0    1     A      N   Py   43.0
1    2     B      S    R   23.0
2    3     C      E   Py   44.0
3    4     D      E  Tab   22.0
4    5     E      W  NaN    NaN
5    6   NaN    NaN   Py   32.0

In [45]:
#If column names are different how to join tables 's_id' differnt  to sid

In [64]:
student_details={'s_id':[1,2,3,4,5],
                  'sname':['A','B','C','D','E'],
                'region':['N','S','E','E','W']}

student_marks ={'sid':[1,2,3,4,6],
                'sub':['Py','R','Py','Tab','Py'],
                'marks':[43,23,44,22,32]
               }

In [65]:
df1 = pd.DataFrame(student_details)
df2 = pd.DataFrame(student_marks)
df1

   s_id sname region
0     1     A      N
1     2     B      S
2     3     C      E
3     4     D      E
4     5     E      W

In [66]:
df2

   sid  sub  marks
0    1   Py     43
1    2    R     23
2    3   Py     44
3    4  Tab     22
4    6   Py     32

In [68]:
#inner join
df1.merge( df2, left_on='s_id', right_on='sid')

   s_id sname region  sid  sub  marks
0     1     A      N    1   Py     43
1     2     B      S    2    R     23
2     3     C      E    3   Py     44
3     4     D      E    4  Tab     22

In [72]:
#full outer join
df1.merge(df2,left_on='s_id',right_on='sid', how='outer')

   s_id sname region  sid  sub  marks
0   1.0     A      N  1.0   Py   43.0
1   2.0     B      S  2.0    R   23.0
2   3.0     C      E  3.0   Py   44.0
3   4.0     D      E  4.0  Tab   22.0
4   5.0     E      W  NaN  NaN    NaN
5   NaN   NaN    NaN  6.0   Py   32.0

In [73]:
pd.merge(df1,df2,left_on='s_id',right_on='sid',how='outer')

   s_id sname region  sid  sub  marks
0   1.0     A      N  1.0   Py   43.0
1   2.0     B      S  2.0    R   23.0
2   3.0     C      E  3.0   Py   44.0
3   4.0     D      E  4.0  Tab   22.0
4   5.0     E      W  NaN  NaN    NaN
5   NaN   NaN    NaN  6.0   Py   32.0

In [74]:
#multicolumn joins

In [75]:
student_details={'s_id':[1,2,3,4,5],
                  'sname':['A','B','C','D','E'],
                'region':['N','S','E','E','W']}

student_marks ={'sid':[1,2,3,4,6],
                'sname':['A','B','C','D','E'],
                'sub':['Py','R','Py','Tab','Py'],
                'marks':[43,23,44,22,32]
               }

In [76]:
df1 =pd.DataFrame(student_details)
df2 =pd.DataFrame(student_marks)

In [77]:
df1

   s_id sname region
0     1     A      N
1     2     B      S
2     3     C      E
3     4     D      E
4     5     E      W

In [78]:
df2

   sid sname  sub  marks
0    1     A   Py     43
1    2     B    R     23
2    3     C   Py     44
3    4     D  Tab     22
4    6     E   Py     32

In [79]:
pd.merge(df1,df2,left_on=['s_id','sname'],right_on=['sid','sname'],how='outer')

   s_id sname region  sid  sub  marks
0   1.0     A      N  1.0   Py   43.0
1   2.0     B      S  2.0    R   23.0
2   3.0     C      E  3.0   Py   44.0
3   4.0     D      E  4.0  Tab   22.0
4   5.0     E      W  NaN  NaN    NaN
5   NaN     E    NaN  6.0   Py   32.0

In [80]:
#how to join 3 tables

In [81]:
student_details={'s_id':[1,2,3,4,5],
                  'sname':['A','B','C','D','E'],
                'region':['N','S','E','E','W']}

student_marks ={'sid':[1,2,3,4,6],
                'sname':['A','B','C','D','E'],
                'sub':['Py','R','Py','Tab','Py'],
                'marks':[43,23,44,22,32]
               }
student_attendence = {'sid':[1,2,3,4,5,6],
                     'attendence':[42,23,32,43,45,43]
                     }

In [82]:
df1 = pd.DataFrame(student_details)
df2 = pd.DataFrame(student_marks)
df3 = pd.DataFrame(student_attendence)

In [83]:
df1

   s_id sname region
0     1     A      N
1     2     B      S
2     3     C      E
3     4     D      E
4     5     E      W

In [84]:
df2

   sid sname  sub  marks
0    1     A   Py     43
1    2     B    R     23
2    3     C   Py     44
3    4     D  Tab     22
4    6     E   Py     32

In [85]:
df3

   sid  attendence
0    1          42
1    2          23
2    3          32
3    4          43
4    5          45
5    6          43

In [88]:
pd.merge(pd.merge(df1,df2,left_on='s_id',right_on='sid'),df3,left_on='s_id',right_on='sid')

   s_id sname_x region  sid_x sname_y  sub  marks  sid_y  attendence
0     1       A      N      1       A   Py     43      1          42
1     2       B      S      2       B    R     23      2          23
2     3       C      E      3       C   Py     44      3          32
3     4       D      E      4       D  Tab     22      4          43

In [89]:
#Data is same with different tables

In [90]:
student_details1={'s_id':[1,2,3,4,5],
                  'sname':['A','B','C','D','E'],
                'region':['N','S','E','E','W']}
student_details2={'s_id':[1,2,3,4,5],
                  'sname':['P','Q','R','S','T'],
                'region':['N','S','E','E','W']}

In [91]:
df1 = pd.DataFrame(student_details1)
df2 = pd.DataFrame(student_details2)

In [92]:
df1

   s_id sname region
0     1     A      N
1     2     B      S
2     3     C      E
3     4     D      E
4     5     E      W

In [93]:
df2

   s_id sname region
0     1     P      N
1     2     Q      S
2     3     R      E
3     4     S      E
4     5     T      W

In [101]:
df_final = pd.concat([df1,df2],axis=0)
df_final

   s_id sname region
0     1     A      N
1     2     B      S
2     3     C      E
3     4     D      E
4     5     E      W
0     1     P      N
1     2     Q      S
2     3     R      E
3     4     S      E
4     5     T      W

In [100]:
#to reset index

In [102]:
df_final.reset_index()

   index  s_id sname region
0      0     1     A      N
1      1     2     B      S
2      2     3     C      E
3      3     4     D      E
4      4     5     E      W
5      0     1     P      N
6      1     2     Q      S
7      2     3     R      E
8      3     4     S      E
9      4     5     T      W

In [97]:
#index join

In [98]:
pd.concat([df1,df2],axis=1)

   s_id sname region  s_id sname region
0     1     A      N     1     P      N
1     2     B      S     2     Q      S
2     3     C      E     3     R      E
3     4     D      E     4     S      E
4     5     E      W     5     T      W

In [103]:
import os

In [105]:
os.getcwd()

'C:\\Users\\subbu'

In [106]:
os.chdir('E:\\Datascience_edureka\\module6')

In [107]:
tips = pd.read_csv('tips.csv')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [108]:
type(tips)

pandas.core.frame.DataFrame

In [109]:
len(tips)

244

In [111]:
len(tips.columns)

7

In [112]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [113]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [115]:
#bottom 5 records
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [117]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

In [118]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [120]:
#1. how to pick required columns

In [123]:
tips[['total_bill','smoker','size']]

     total_bill smoker  size
0         16.99     No     2
1         10.34     No     3
2         21.01     No     3
3         23.68     No     2
4         24.59     No     4
..          ...    ...   ...
239       29.03     No     3
240       27.18    Yes     2
241       22.67    Yes     2
242       17.82     No     2
243       18.78     No     2

[244 rows x 3 columns]

In [124]:
#2. how to pick required columns

In [126]:
tips.iloc[:,[0,3,6]]

     total_bill smoker  size
0         16.99     No     2
1         10.34     No     3
2         21.01     No     3
3         23.68     No     2
4         24.59     No     4
..          ...    ...   ...
239       29.03     No     3
240       27.18    Yes     2
241       22.67    Yes     2
242       17.82     No     2
243       18.78     No     2

[244 rows x 3 columns]

In [127]:
#how to pic continuous column

In [128]:
tips.iloc[:,[0,3,6]]

     total_bill smoker  size
0         16.99     No     2
1         10.34     No     3
2         21.01     No     3
3         23.68     No     2
4         24.59     No     4
..          ...    ...   ...
239       29.03     No     3
240       27.18    Yes     2
241       22.67    Yes     2
242       17.82     No     2
243       18.78     No     2

[244 rows x 3 columns]

In [129]:
#Pick specific rows   tips.iloc[row,columns]

In [130]:
tips.iloc[[0,4,243],:]

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
243       18.78  3.00  Female     No  Thur  Dinner     2

In [131]:
#how to conver dataframe to array using .values

In [132]:
tips.iloc[1:5,3:7].values

array([['No', 'Sun', 'Dinner', 3],
       ['No', 'Sun', 'Dinner', 3],
       ['No', 'Sun', 'Dinner', 2],
       ['No', 'Sun', 'Dinner', 4]], dtype=object)

In [133]:
# how to apply filter

In [135]:
tips[(tips['sex'] =='Male') & (tips['smoker'] == 'Yes')].total_bill

56     38.01
58     11.24
60     20.29
61     13.81
62     11.02
63     18.29
69     15.01
76     17.92
80     19.44
83     32.68
90     28.97
95     40.17
96     27.28
97     12.03
98     21.01
105    15.36
106    20.49
107    25.21
138    16.00
170    50.81
171    15.81
172     7.25
173    31.85
174    16.82
175    32.90
176    17.89
177    14.48
179    34.63
180    34.65
181    23.33
182    45.35
183    23.17
184    40.55
187    30.46
189    23.10
190    15.69
192    28.44
193    15.48
194    16.58
196    10.34
199    13.51
200    18.71
204    20.53
206    26.59
207    38.73
208    24.27
210    30.06
211    25.89
216    28.15
217    11.59
218     7.74
220    12.16
222     8.58
224    13.42
230    24.01
231    15.69
234    15.53
236    12.60
237    32.83
241    22.67
Name: total_bill, dtype: float64

In [137]:
tips[(tips['sex'] =='Male') | (tips['smoker'] == 'Yes')]

     total_bill   tip     sex smoker  day    time  size
1         10.34  1.66    Male     No  Sun  Dinner     3
2         21.01  3.50    Male     No  Sun  Dinner     3
3         23.68  3.31    Male     No  Sun  Dinner     2
5         25.29  4.71    Male     No  Sun  Dinner     4
6          8.77  2.00    Male     No  Sun  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
237       32.83  1.17    Male    Yes  Sat  Dinner     2
239       29.03  5.92    Male     No  Sat  Dinner     3
240       27.18  2.00  Female    Yes  Sat  Dinner     2
241       22.67  2.00    Male    Yes  Sat  Dinner     2
242       17.82  1.75    Male     No  Sat  Dinner     2

[190 rows x 7 columns]

In [138]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [139]:
#how many males and female in tips table

In [141]:
tips.groupby('sex').count()

        total_bill  tip  smoker  day  time  size
sex
Female          87   87      87   87    87    87
Male           157  157     157  157   157   157

In [142]:
tips.groupby('sex').size()

sex
Female     87
Male      157
dtype: int64

In [143]:
#aggregate tip

In [146]:
tips.groupby('sex').agg({'tip':[np.mean,np.sum,np.std,np.median]})

             tip
            mean     sum       std median
sex
Female  2.833448  246.51  1.159495   2.75
Male    3.089618  485.07  1.489102   3.00

In [147]:
#total bill
tips.groupby('sex').agg({'total_bill':[np.mean,np.sum,np.std,np.median]})

       total_bill
             mean      sum       std median
sex
Female  18.056897  1570.95  8.009209  16.40
Male    20.744076  3256.82  9.246469  18.35

In [148]:
tips.groupby(['sex','smoker']).agg({'tip':[np.mean,np.sum,np.std,np.median]})

                    tip
                   mean     sum       std median
sex    smoker
Female No      2.773519  149.77  1.128425   2.68
       Yes     2.931515   96.74  1.219916   2.88
Male   No      3.113402  302.00  1.489559   2.74
       Yes     3.051167  183.07  1.500120   3.00

In [149]:
#max tip based on tip
tips.groupby(['sex','smoker','day']).agg({'tip':[np.mean,np.sum,np.std,np.median]})

                         tip
                        mean     sum       std median
sex    smoker day
Female No     Fri   3.125000    6.25  0.176777  3.125
              Sat   2.724615   35.42  0.961904  2.750
              Sun   3.329286   46.61  1.282356  3.500
              Thur  2.459600   61.49  1.078369  2.000
       Yes    Fri   2.682857   18.78  1.058013  2.500
              Sat   2.868667   43.03  1.461378  2.500
              Sun   3.500000   14.00  0.408248  3.500
              Thur  2.990000   20.93  1.204049  2.500
Male   No     Fri   2.500000    5.00  1.414214  2.500
              Sat   3.256563  104.21  1.839749  2.860
              Sun   3.115349  133.96  1.216401  3.000
              Thur  2.941500   58.83  1.485623  2.405
       Yes    Fri   2.741250   21.93  1.166808  2.600
              Sat   2.879259   77.74  1.744338  3.000
              Sun   3.521333   52.82  1.417432  3.500
              Thur  3.058000   30.58  1.111573  2.780

In [153]:
# rename all columns
tips.columns = ['totbill','tip','sex','smok','day','time','sz']
tips

     totbill   tip     sex smok   day    time  sz
0      16.99  1.01  Female   No   Sun  Dinner   2
1      10.34  1.66    Male   No   Sun  Dinner   3
2      21.01  3.50    Male   No   Sun  Dinner   3
3      23.68  3.31    Male   No   Sun  Dinner   2
4      24.59  3.61  Female   No   Sun  Dinner   4
..       ...   ...     ...  ...   ...     ...  ..
239    29.03  5.92    Male   No   Sat  Dinner   3
240    27.18  2.00  Female  Yes   Sat  Dinner   2
241    22.67  2.00    Male  Yes   Sat  Dinner   2
242    17.82  1.75    Male   No   Sat  Dinner   2
243    18.78  3.00  Female   No  Thur  Dinner   2

[244 rows x 7 columns]

In [156]:
#1.rename some columns
tips = tips.rename(columns ={'sex':'gender','size':'count'})
tips

     totbill   tip  gender smok   day    time  sz
0      16.99  1.01  Female   No   Sun  Dinner   2
1      10.34  1.66    Male   No   Sun  Dinner   3
2      21.01  3.50    Male   No   Sun  Dinner   3
3      23.68  3.31    Male   No   Sun  Dinner   2
4      24.59  3.61  Female   No   Sun  Dinner   4
..       ...   ...     ...  ...   ...     ...  ..
239    29.03  5.92    Male   No   Sat  Dinner   3
240    27.18  2.00  Female  Yes   Sat  Dinner   2
241    22.67  2.00    Male  Yes   Sat  Dinner   2
242    17.82  1.75    Male   No   Sat  Dinner   2
243    18.78  3.00  Female   No  Thur  Dinner   2

[244 rows x 7 columns]

In [157]:
#2.rename some columns
tips.rename(columns ={'gender':'sex','count':'size'},inplace=True)
tips

     totbill   tip     sex smok   day    time  sz
0      16.99  1.01  Female   No   Sun  Dinner   2
1      10.34  1.66    Male   No   Sun  Dinner   3
2      21.01  3.50    Male   No   Sun  Dinner   3
3      23.68  3.31    Male   No   Sun  Dinner   2
4      24.59  3.61  Female   No   Sun  Dinner   4
..       ...   ...     ...  ...   ...     ...  ..
239    29.03  5.92    Male   No   Sat  Dinner   3
240    27.18  2.00  Female  Yes   Sat  Dinner   2
241    22.67  2.00    Male  Yes   Sat  Dinner   2
242    17.82  1.75    Male   No   Sat  Dinner   2
243    18.78  3.00  Female   No  Thur  Dinner   2

[244 rows x 7 columns]

In [158]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   totbill  244 non-null    float64
 1   tip      244 non-null    float64
 2   sex      244 non-null    object
 3   smok     244 non-null    object
 4   day      244 non-null    object
 5   time     244 non-null    object
 6   sz       244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 15.2+ KB

In [160]:
tips.select_dtypes(include=['float64'])

     totbill   tip
0      16.99  1.01
1      10.34  1.66
2      21.01  3.50
3      23.68  3.31
4      24.59  3.61
..       ...   ...
239    29.03  5.92
240    27.18  2.00
241    22.67  2.00
242    17.82  1.75
243    18.78  3.00

[244 rows x 2 columns]

In [165]:
tips.select_dtypes(exclude=['float64','int64'])

        sex smok   day    time
0    Female   No   Sun  Dinner
1      Male   No   Sun  Dinner
2      Male   No   Sun  Dinner
3      Male   No   Sun  Dinner
4    Female   No   Sun  Dinner
..      ...  ...   ...     ...
239    Male   No   Sat  Dinner
240  Female  Yes   Sat  Dinner
241    Male  Yes   Sat  Dinner
242    Male   No   Sat  Dinner
243  Female   No  Thur  Dinner

[244 rows x 4 columns]

In [163]:
#create extra columns for total sales and sum of bill for male and female

In [174]:
totalsales=tips.groupby('sex').totbill.transform('sum')
totalsales

0      1570.95
1      3256.82
2      3256.82
3      3256.82
4      1570.95
        ...
239    3256.82
240    1570.95
241    3256.82
242    3256.82
243    1570.95
Name: totbill, Length: 244, dtype: float64

In [175]:
tips['totalsales']= totalsales

In [176]:
tips

     totbill   tip     sex smok   day    time  sz  totalsales
0      16.99  1.01  Female   No   Sun  Dinner   2     1570.95
1      10.34  1.66    Male   No   Sun  Dinner   3     3256.82
2      21.01  3.50    Male   No   Sun  Dinner   3     3256.82
3      23.68  3.31    Male   No   Sun  Dinner   2     3256.82
4      24.59  3.61  Female   No   Sun  Dinner   4     1570.95
..       ...   ...     ...  ...   ...     ...  ..         ...
239    29.03  5.92    Male   No   Sat  Dinner   3     3256.82
240    27.18  2.00  Female  Yes   Sat  Dinner   2     1570.95
241    22.67  2.00    Male  Yes   Sat  Dinner   2     3256.82
242    17.82  1.75    Male   No   Sat  Dinner   2     3256.82
243    18.78  3.00  Female   No  Thur  Dinner   2     1570.95

[244 rows x 8 columns]

In [179]:
tips['percent of totl']= (tips.totbill/tips.totalsales)*100

In [180]:
tips

,totbill,tip,sex,smok,day,time,sz,totalsales,percentoftotl,percent of totl
0,16.99,1.01,Female,No,Sun,Dinner,2,1570.95,1.081511,1.081511
1,10.34,1.66,Male,No,Sun,Dinner,3,3256.82,0.317488,0.317488
2,21.01,3.50,Male,No,Sun,Dinner,3,3256.82,0.645108,0.645108
3,23.68,3.31,Male,No,Sun,Dinner,2,3256.82,0.727090,0.727090
4,24.59,3.61,Female,No,Sun,Dinner,4,1570.95,1.565295,1.565295
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,3256.82,0.891360,0.891360
240,27.18,2.00,Female,Yes,Sat,Dinner,2,1570.95,1.730163,1.730163
241,22.67,2.00,Male,Yes,Sat,Dinner,2,3256.82,0.696078,0.696078
242,17.82,1.75,Male,No,Sat,Dinner,2,3256.82,0.547159,0.547159
243,18.78,3.00,Female,No,Thur,Dinner,2,1570.95,1.195455,1.195455

In [181]:
#1.create pivote table
tips.groupby(['sex','day']).totbill.mean().unstack()

day           Fri        Sat        Sun       Thur
sex
Female  14.145556  19.680357  19.872222  16.715312
Male    19.857000  20.802542  21.887241  18.714667

In [183]:
#2.create pivote table or cross table
tips.pivot_table(index='sex',columns='day',values='totbill',aggfunc='mean')

day           Fri        Sat        Sun       Thur
sex
Female  14.145556  19.680357  19.872222  16.715312
Male    19.857000  20.802542  21.887241  18.714667

In [184]:
os.getcwd()

'E:\\Datascience_edureka\\module6'

In [185]:
from glob import glob

In [188]:
files = glob('tips*.csv')

In [190]:
df = pd.concat((pd.read_csv(f) for f in files))

In [191]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[976 rows x 7 columns]

In [199]:
df =df.reset_index()

In [200]:
df.drop('index',axis =1)

     level_0  total_bill   tip     sex smoker   day    time  size
0          0       16.99  1.01  Female     No   Sun  Dinner     2
1          1       10.34  1.66    Male     No   Sun  Dinner     3
2          2       21.01  3.50    Male     No   Sun  Dinner     3
3          3       23.68  3.31    Male     No   Sun  Dinner     2
4          4       24.59  3.61  Female     No   Sun  Dinner     4
..       ...         ...   ...     ...    ...   ...     ...   ...
971      971       29.03  5.92    Male     No   Sat  Dinner     3
972      972       27.18  2.00  Female    Yes   Sat  Dinner     2
973      973       22.67  2.00    Male    Yes   Sat  Dinner     2
974      974       17.82  1.75    Male     No   Sat  Dinner     2
975      975       18.78  3.00  Female     No  Thur  Dinner     2

[976 rows x 8 columns]

In [201]:
#How to copy dataset from xls sheet
pd.read_clipboard()

    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
1        10.34  1.66    Male     No  Sun  Dinner     3
2        21.01  3.50    Male     No  Sun  Dinner     3
3        23.68  3.31    Male     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
5        25.29  4.71    Male     No  Sun  Dinner     4
6         8.77  2.00    Male     No  Sun  Dinner     2
7        26.88  3.12    Male     No  Sun  Dinner     4
8        15.04  1.96    Male     No  Sun  Dinner     2
9        14.78  3.23    Male     No  Sun  Dinner     2
10       10.27  1.71    Male     No  Sun  Dinner     2
11       35.26  5.00  Female     No  Sun  Dinner     4
12       15.42  1.57    Male     No  Sun  Dinner     2

In [202]:
#How to copy dataset from xls sheet
pd.read_clipboard(names = ['total_bill','sex'])

  total_bill  sex
0        sex  NaN

In [203]:
#Pandas

In [204]:
df = pd.DataFrame({'Gender':['male','female','male','female','female'],
                   'Age':['12','24','38','17','29'],
                   'color':['blue','gree','red','yellow','blue']})

In [205]:
df

   Gender Age   color
0    male  12    blue
1  female  24    gree
2    male  38     red
3  female  17  yellow
4  female  29    blue

In [206]:
df['Gender_Letter'] =df.Gender.map({'male':'M','female':'F'}) 
df

   Gender Age   color Gender_Letter
0    male  12    blue             M
1  female  24    gree             F
2    male  38     red             M
3  female  17  yellow             F
4  female  29    blue             F

In [207]:
df['can_vote'] = df.Age.astype('int')>=18

In [208]:
df

   Gender Age   color Gender_Letter  can_vote
0    male  12    blue             M     False
1  female  24    gree             F      True
2    male  38     red             M      True
3  female  17  yellow             F     False
4  female  29    blue             F      True

In [211]:
df['Canvote'] = df.can_vote.map({True:'Yes',False:'No'})
df

   Gender Age   color Gender_Letter  can_vote vote Canvote
0    male  12    blue             M     False   No      No
1  female  24    gree             F      True  Yes     Yes
2    male  38     red             M      True  Yes     Yes
3  female  17  yellow             F     False   No      No
4  female  29    blue             F      True  Yes     Yes

In [212]:
#cumulative sum for tips

In [214]:
tips

,totbill,tip,sex,smok,day,time,sz,totalsales,percentoftotl,percent of totl
0,16.99,1.01,Female,No,Sun,Dinner,2,1570.95,1.081511,1.081511
1,10.34,1.66,Male,No,Sun,Dinner,3,3256.82,0.317488,0.317488
2,21.01,3.50,Male,No,Sun,Dinner,3,3256.82,0.645108,0.645108
3,23.68,3.31,Male,No,Sun,Dinner,2,3256.82,0.727090,0.727090
4,24.59,3.61,Female,No,Sun,Dinner,4,1570.95,1.565295,1.565295
...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,3256.82,0.891360,0.891360
240,27.18,2.00,Female,Yes,Sat,Dinner,2,1570.95,1.730163,1.730163
241,22.67,2.00,Male,Yes,Sat,Dinner,2,3256.82,0.696078,0.696078
242,17.82,1.75,Male,No,Sat,Dinner,2,3256.82,0.547159,0.547159
243,18.78,3.00,Female,No,Thur,Dinner,2,1570.95,1.195455,1.195455

In [215]:
tips['running total']=tips.totbill.cumsum()

In [216]:
tips

,totbill,tip,sex,smok,day,time,sz,totalsales,percentoftotl,percent of totl,running total
0,16.99,1.01,Female,No,Sun,Dinner,2,1570.95,1.081511,1.081511,16.99
1,10.34,1.66,Male,No,Sun,Dinner,3,3256.82,0.317488,0.317488,27.33
2,21.01,3.50,Male,No,Sun,Dinner,3,3256.82,0.645108,0.645108,48.34
3,23.68,3.31,Male,No,Sun,Dinner,2,3256.82,0.727090,0.727090,72.02
4,24.59,3.61,Female,No,Sun,Dinner,4,1570.95,1.565295,1.565295,96.61
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,3256.82,0.891360,0.891360,4741.32
240,27.18,2.00,Female,Yes,Sat,Dinner,2,1570.95,1.730163,1.730163,4768.50
241,22.67,2.00,Male,Yes,Sat,Dinner,2,3256.82,0.696078,0.696078,4791.17
242,17.82,1.75,Male,No,Sat,Dinner,2,3256.82,0.547159,0.547159,4808.99
243,18.78,3.00,Female,No,Thur,Dinner,2,1570.95,1.195455,1.195455,4827.77

In [217]:
#How to provide column names

In [221]:
pd.read_csv('tips1.csv',names=x)

     totl_bill   tip     sex smoker   day    time  size
0        16.99  1.01  Female     No   Sun  Dinner     2
1        10.34  1.66    Male     No   Sun  Dinner     3
2        21.01  3.50    Male     No   Sun  Dinner     3
3        23.68  3.31    Male     No   Sun  Dinner     2
4        24.59  3.61  Female     No   Sun  Dinner     4
..         ...   ...     ...    ...   ...     ...   ...
239      29.03  5.92    Male     No   Sat  Dinner     3
240      27.18  2.00  Female    Yes   Sat  Dinner     2
241      22.67  2.00    Male    Yes   Sat  Dinner     2
242      17.82  1.75    Male     No   Sat  Dinner     2
243      18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [220]:
x=['totl_bill','tip','sex','smoker','day','time','size']

In [222]:
pd.read_csv('tips.csv',usecols=['total_bill','size','time'])

     total_bill    time  size
0         16.99  Dinner     2
1         10.34  Dinner     3
2         21.01  Dinner     3
3         23.68  Dinner     2
4         24.59  Dinner     4
..          ...     ...   ...
239       29.03  Dinner     3
240       27.18  Dinner     2
241       22.67  Dinner     2
242       17.82  Dinner     2
243       18.78  Dinner     2

[244 rows x 3 columns]

In [224]:
tips.head()

,totbill,tip,sex,smok,day,time,sz,totalsales,percentoftotl,percent of totl,running total
0,16.99,1.01,Female,No,Sun,Dinner,2,1570.95,1.081511,1.081511,16.99
1,10.34,1.66,Male,No,Sun,Dinner,3,3256.82,0.317488,0.317488,27.33
2,21.01,3.50,Male,No,Sun,Dinner,3,3256.82,0.645108,0.645108,48.34
3,23.68,3.31,Male,No,Sun,Dinner,2,3256.82,0.727090,0.727090,72.02
4,24.59,3.61,Female,No,Sun,Dinner,4,1570.95,1.565295,1.565295,96.61

In [225]:
dict = {'totbill':'${:.2f}','tip':'${:.2f}'}

In [227]:
tips =tips.style.format(dict)

In [230]:
tips